<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="zyr.learn.dao.UserDao"/>
    <bean id="userService" class="zyr.learn.service.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="userAction" class="zyr.learn.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
</beans>