<component name="ArtifactManager">
  <artifact type="war" name="spring9_ssh_userManager:war">
    <output-path>$PROJECT_DIR$/spring9_ssh_userManager/target</output-path>
    <root id="archive" name="SSH-UserManager.war">
      <element id="artifact" artifact-name="spring9_ssh_userManager:war exploded" />
    </root>
  </artifact>
</component>